<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>筛选人数</string>
		<key>enName</key>
		<string>SUBJECTSNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>随机人数</string>
		<key>enName</key>
		<string>RANDOMNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>筛选失败</string>
		<key>enName</key>
		<string>SCREENFAILEDNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>撤销知情</string>
		<key>enName</key>
		<string>WITHDRAWICFNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>失联人数</string>
		<key>enName</key>
		<string>LOSTFOLLOWNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>死亡人数</string>
		<key>enName</key>
		<string>DEATHNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>EOT</string>
		<key>enName</key>
		<string>EOT</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>超窗人数</string>
		<key>enName</key>
		<string>OUTWINDOWNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	
	
	<dict>
		<key>title</key>
		<string>额外访视</string>
		<key>enName</key>
		<string>EXTRANUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>脱落</string>
		<key>enName</key>
		<string>DROPOUTNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>AE</string>
		<key>enName</key>
		<string>AENUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>SAE</string>
		<key>enName</key>
		<string>SAENUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>完成人数</string>
		<key>enName</key>
		<string>FINISHNUM</string>
		<key>num</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
