<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>工时薄</string>
		<key>img</key>
		<string>my_flle</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>新手指引</string>
		<key>img</key>
		<string>File</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>绑定微信</string>
		<key>img</key>
		<string>my_weixin</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>公共直播室</string>
		<key>img</key>
		<string>my_project_video</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>受试者库</string>
		<key>img</key>
		<string>my_subjects</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>我的项目</string>
		<key>img</key>
		<string>my_project</string>
	</dict>
	<dict>
		<key>title</key>
		<string>离线图片</string>
		<key>img</key>
		<string>offlineImg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的协议</string>
		<key>img</key>
		<string>user_protocol</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>意见反馈</string>
		<key>img</key>
		<string>yijianfankui</string>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>设置</string>
		<key>img</key>
		<string>my_setup</string>
		<key>items</key>
		<array>
			<dict>
				<key>img</key>
				<string>about</string>
				<key>title</key>
				<string>关于O-trial</string>
			</dict>
			<dict>
				<key>title</key>
				<string>切换语言</string>
				<key>img</key>
				<string>my_language</string>
			</dict>
			<dict>
				<key>title</key>
				<string>修改密码</string>
				<key>img</key>
				<string>my_password</string>
			</dict>
			<dict>
				<key>title</key>
				<string>退出登录</string>
				<key>img</key>
				<string>out</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
